@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;800&family=Manrope:wght@600&family=Outfit:wght@300;500;700;800&family=Wix+Madefor+Text:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

html {
  background-color: rgba(245, 245, 245, 0.959);
}
